{
  "log": {
    "_recordingName": "resolveFeeIncomeDistrubtion/should create a payment equivalent to fee income if one fee_income_recipient is given",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e19b123656d1f9638ec0480f750af9d8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur/470"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2531,
            "text": "{\"cycle\":470,\"stakingBalance\":64423177490,\"activeStake\":64423177490,\"selectedStake\":679191425083584,\"delegatedBalance\":56820860327,\"numDelegators\":9,\"expectedBlocks\":0,\"expectedEndorsements\":5439,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":0,\"blockRewards\":0,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":5518,\"endorsementRewards\":15539223,\"missedEndorsements\":2,\"missedEndorsementRewards\":0,\"blockFees\":0,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"tz1TRSPwnJD6qv5LeE76uSQ1YppVEvzomFvS\",\"balance\":22443701481,\"currentBalance\":17438577462,\"emptied\":false},{\"address\":\"KT1LbavaVQWGcntqiK4NGG21WS7Kv2QWrcSk\",\"balance\":19192402370,\"currentBalance\":24296269381,\"emptied\":false},{\"address\":\"KT1T9jvz4nPq6JkssNwXFPiReVgoX88bNwpH\",\"balance\":5820148348,\"currentBalance\":5881113981,\"emptied\":false},{\"address\":\"tz1M1dgUJooWnzYhb8MnWin6MkQrPA55TTCr\",\"balance\":5801735161,\"currentBalance\":5863168149,\"emptied\":false},{\"address\":\"tz1RREZq3cRtuoVwcBHPUcZeGbaCCXSU69QX\",\"balance\":2130597004,\"currentBalance\":2147132146,\"emptied\":false},{\"address\":\"tz1Z1xRcvcqPPqja34fWNd1StABUV38LnbpW\",\"balance\":744746861,\"currentBalance\":306702094,\"emptied\":false},{\"address\":\"tz1icTCXcgy2u48h6M3s9eDPNwaEtWuDephX\",\"balance\":683385640,\"currentBalance\":268644608,\"emptied\":false},{\"address\":\"tz1RhDf3hL8P5vTF8Cm9u8UHnc7E1gzYrVZa\",\"balance\":3282814,\"currentBalance\":139646795,\"emptied\":false},{\"address\":\"tz1TNPydD23QaQV7yjrvzGTXECfBE59vAbKT\",\"balance\":860648,\"currentBalance\":860103,\"emptied\":false}],\"ownBlocks\":0,\"extraBlocks\":0,\"missedOwnBlocks\":0,\"missedExtraBlocks\":0,\"uncoveredOwnBlocks\":0,\"uncoveredExtraBlocks\":0,\"uncoveredEndorsements\":0,\"ownBlockRewards\":0,\"extraBlockRewards\":0,\"missedOwnBlockRewards\":0,\"missedExtraBlockRewards\":0,\"uncoveredOwnBlockRewards\":0,\"uncoveredExtraBlockRewards\":0,\"uncoveredEndorsementRewards\":0,\"ownBlockFees\":0,\"extraBlockFees\":0,\"missedOwnBlockFees\":0,\"missedExtraBlockFees\":0,\"uncoveredOwnBlockFees\":0,\"uncoveredExtraBlockFees\":0,\"doubleBakingLostDeposits\":0,\"doubleBakingLostRewards\":0,\"doubleBakingLostFees\":0,\"doubleEndorsingLostDeposits\":0,\"doubleEndorsingLostRewards\":0,\"doubleEndorsingLostFees\":0,\"revelationLostRewards\":0,\"revelationLostFees\":0,\"futureBlockDeposits\":0,\"blockDeposits\":0,\"futureEndorsementDeposits\":0,\"endorsementDeposits\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-version",
              "value": "1.8.3.0"
            },
            {
              "name": "tzkt-level",
              "value": "2413927"
            },
            {
              "name": "tzkt-known-level",
              "value": "2413928"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-06-01T03:27:47Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 898,
      },
      {
        "_id": "f391cda33f68c2bb40a630e76a89815c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/accounts/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1150,
            "text": "{\"type\":\"delegate\",\"address\":\"tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur\",\"active\":true,\"alias\":\"Sentry & Legate\",\"publicKey\":\"edpkuugBoESXfpaESgvbpY5LjwdNLm713iSUNjUmDbFAtcuj8Fcq2A\",\"revealed\":true,\"balance\":10500960503,\"frozenDeposit\":9088172417,\"counter\":25666352,\"activationLevel\":1679446,\"activationTime\":\"2021-09-09T17:01:06Z\",\"stakingBalance\":93286981104,\"delegatedBalance\":82786020601,\"numContracts\":0,\"activeTokensCount\":2,\"tokenBalancesCount\":2,\"tokenTransfersCount\":2,\"numDelegators\":12,\"numBlocks\":47,\"numEndorsements\":87460,\"numPreendorsements\":166,\"numBallots\":7,\"numProposals\":5,\"numActivations\":0,\"numDoubleBaking\":0,\"numDoubleEndorsing\":0,\"numDoublePreendorsing\":0,\"numNonceRevelations\":2,\"numRevelationPenalties\":0,\"numEndorsingRewards\":20,\"numDelegations\":17,\"numOriginations\":0,\"numTransactions\":25,\"numReveals\":1,\"numRegisterConstants\":0,\"numSetDepositsLimits\":0,\"numMigrations\":0,\"firstActivity\":1679316,\"firstActivityTime\":\"2021-09-09T15:45:24Z\",\"lastActivity\":2413928,\"lastActivityTime\":\"2022-06-01T03:27:44Z\",\"software\":{\"version\":\"v12.4\",\"date\":\"2022-05-05T12:46:26Z\"},\"frozenDeposits\":9088172417,\"frozenRewards\":0,\"frozenFees\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-version",
              "value": "1.8.3.0"
            },
            {
              "name": "tzkt-level",
              "value": "2413928"
            },
            {
              "name": "tzkt-known-level",
              "value": "2413928"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-06-01T03:27:47Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 829,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
