{
  "log": {
    "_recordingName": "resolveExcludedPaymentsByMinimumDelegatorBalance/exclude payments if the associated delegation balance is below the minimum",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e19b123656d1f9638ec0480f750af9d8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur/470"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2518,
            "text": "{\"cycle\":470,\"stakingBalance\":64423177490,\"activeStake\":64423177490,\"selectedStake\":679191425083584,\"delegatedBalance\":56820860327,\"numDelegators\":9,\"expectedBlocks\":0,\"expectedEndorsements\":5439,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":0,\"blockRewards\":0,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":5518,\"endorsementRewards\":15539223,\"missedEndorsements\":2,\"missedEndorsementRewards\":0,\"blockFees\":0,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"tz1TRSPwnJD6qv5LeE76uSQ1YppVEvzomFvS\",\"balance\":22443701481,\"currentBalance\":17731789293,\"emptied\":false},{\"address\":\"KT1LbavaVQWGcntqiK4NGG21WS7Kv2QWrcSk\",\"balance\":19192402370,\"currentBalance\":19042095760,\"emptied\":false},{\"address\":\"KT1T9jvz4nPq6JkssNwXFPiReVgoX88bNwpH\",\"balance\":5820148348,\"currentBalance\":1027254,\"emptied\":false},{\"address\":\"tz1M1dgUJooWnzYhb8MnWin6MkQrPA55TTCr\",\"balance\":5801735161,\"currentBalance\":5963126384,\"emptied\":false},{\"address\":\"tz1RREZq3cRtuoVwcBHPUcZeGbaCCXSU69QX\",\"balance\":2130597004,\"currentBalance\":5090613,\"emptied\":false},{\"address\":\"tz1Z1xRcvcqPPqja34fWNd1StABUV38LnbpW\",\"balance\":744746861,\"currentBalance\":828354454,\"emptied\":false},{\"address\":\"tz1icTCXcgy2u48h6M3s9eDPNwaEtWuDephX\",\"balance\":683385640,\"currentBalance\":5628505,\"emptied\":false},{\"address\":\"tz1RhDf3hL8P5vTF8Cm9u8UHnc7E1gzYrVZa\",\"balance\":3282814,\"currentBalance\":624701556,\"emptied\":false},{\"address\":\"tz1TNPydD23QaQV7yjrvzGTXECfBE59vAbKT\",\"balance\":860648,\"currentBalance\":1,\"emptied\":false}],\"ownBlocks\":0,\"extraBlocks\":0,\"missedOwnBlocks\":0,\"missedExtraBlocks\":0,\"uncoveredOwnBlocks\":0,\"uncoveredExtraBlocks\":0,\"uncoveredEndorsements\":0,\"ownBlockRewards\":0,\"extraBlockRewards\":0,\"missedOwnBlockRewards\":0,\"missedExtraBlockRewards\":0,\"uncoveredOwnBlockRewards\":0,\"uncoveredExtraBlockRewards\":0,\"uncoveredEndorsementRewards\":0,\"ownBlockFees\":0,\"extraBlockFees\":0,\"missedOwnBlockFees\":0,\"missedExtraBlockFees\":0,\"uncoveredOwnBlockFees\":0,\"uncoveredExtraBlockFees\":0,\"doubleBakingLostDeposits\":0,\"doubleBakingLostRewards\":0,\"doubleBakingLostFees\":0,\"doubleEndorsingLostDeposits\":0,\"doubleEndorsingLostRewards\":0,\"doubleEndorsingLostFees\":0,\"revelationLostRewards\":0,\"revelationLostFees\":0,\"futureBlockDeposits\":0,\"blockDeposits\":0,\"futureEndorsementDeposits\":0,\"endorsementDeposits\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-version",
              "value": "1.10.0.0"
            },
            {
              "name": "tzkt-level",
              "value": "2769150"
            },
            {
              "name": "tzkt-known-level",
              "value": "2769150"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-10-05T12:44:08Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226,
      },
      {
        "_id": "f391cda33f68c2bb40a630e76a89815c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/accounts/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1523,
            "text": "{\"id\":1785250,\"type\":\"delegate\",\"address\":\"tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur\",\"active\":true,\"alias\":\"Sentry \\u0026 Legate\",\"publicKey\":\"edpkuugBoESXfpaESgvbpY5LjwdNLm713iSUNjUmDbFAtcuj8Fcq2A\",\"revealed\":true,\"balance\":17582756940,\"rollupBonds\":0,\"frozenDeposit\":15850259271,\"counter\":25666361,\"activationLevel\":1679446,\"activationTime\":\"2021-09-09T17:01:06Z\",\"stakingBalance\":167366623408,\"delegatedBalance\":149783866468,\"numContracts\":0,\"rollupsCount\":0,\"activeTokensCount\":2,\"tokenBalancesCount\":2,\"tokenTransfersCount\":2,\"numDelegators\":16,\"numBlocks\":84,\"numEndorsements\":306528,\"numPreendorsements\":337,\"numBallots\":9,\"numProposals\":6,\"numActivations\":0,\"numDoubleBaking\":0,\"numDoubleEndorsing\":0,\"numDoublePreendorsing\":0,\"numNonceRevelations\":2,\"vdfRevelationsCount\":0,\"numRevelationPenalties\":0,\"numEndorsingRewards\":64,\"numDelegations\":25,\"numOriginations\":0,\"numTransactions\":36,\"numReveals\":1,\"numRegisterConstants\":0,\"numSetDepositsLimits\":0,\"numMigrations\":0,\"txRollupOriginationCount\":0,\"txRollupSubmitBatchCount\":0,\"txRollupCommitCount\":0,\"txRollupReturnBondCount\":0,\"txRollupFinalizeCommitmentCount\":0,\"txRollupRemoveCommitmentCount\":0,\"txRollupRejectionCount\":0,\"txRollupDispatchTicketsCount\":0,\"transferTicketCount\":0,\"increasePaidStorageCount\":0,\"firstActivity\":1679316,\"firstActivityTime\":\"2021-09-09T15:45:24Z\",\"lastActivity\":2769149,\"lastActivityTime\":\"2022-10-05T12:43:14Z\",\"software\":{\"version\":\"v14.0\",\"date\":\"2022-07-29T15:08:26Z\"},\"frozenDeposits\":15850259271,\"frozenRewards\":0,\"frozenFees\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tzkt-version",
              "value": "1.10.0.0"
            },
            {
              "name": "tzkt-level",
              "value": "2769150"
            },
            {
              "name": "tzkt-known-level",
              "value": "2769150"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-10-05T12:44:08Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 784,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
