# modules runtime files
node_modules/
yarn.lock

# breadcrumbs runtime files
.env
config.json
config.hjson
reports/*
!reports/.gitkeep
payout_wallet_private.key
remote-signer.hjson
ledger-signer.hjson

# bundling
bin/*
!bin/.gitkeep
build/Release/*
!build/Release/.gitkeep
.parcel-cache