{
  "log": {
    "_recordingName": "resolveProtectedBakerRewards/adds baker stake to cycleShares if overdelegation_guard is false",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e19b123656d1f9638ec0480f750af9d8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur/470"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2529,
            "text": "{\"cycle\":470,\"stakingBalance\":64423177490,\"activeStake\":64423177490,\"selectedStake\":679191425083584,\"delegatedBalance\":56820860327,\"numDelegators\":9,\"expectedBlocks\":0,\"expectedEndorsements\":5439,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":0,\"blockRewards\":0,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":5518,\"endorsementRewards\":15539223,\"missedEndorsements\":2,\"missedEndorsementRewards\":0,\"blockFees\":0,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"tz1TRSPwnJD6qv5LeE76uSQ1YppVEvzomFvS\",\"balance\":22443701481,\"currentBalance\":22536977029,\"emptied\":false},{\"address\":\"KT1LbavaVQWGcntqiK4NGG21WS7Kv2QWrcSk\",\"balance\":19192402370,\"currentBalance\":19196269381,\"emptied\":false},{\"address\":\"KT1T9jvz4nPq6JkssNwXFPiReVgoX88bNwpH\",\"balance\":5820148348,\"currentBalance\":5843477758,\"emptied\":false},{\"address\":\"tz1M1dgUJooWnzYhb8MnWin6MkQrPA55TTCr\",\"balance\":5801735161,\"currentBalance\":5825634172,\"emptied\":false},{\"address\":\"tz1RREZq3cRtuoVwcBHPUcZeGbaCCXSU69QX\",\"balance\":2130597004,\"currentBalance\":2133387010,\"emptied\":false},{\"address\":\"tz1Z1xRcvcqPPqja34fWNd1StABUV38LnbpW\",\"balance\":744746861,\"currentBalance\":115973767,\"emptied\":false},{\"address\":\"tz1icTCXcgy2u48h6M3s9eDPNwaEtWuDephX\",\"balance\":683385640,\"currentBalance\":63886294,\"emptied\":false},{\"address\":\"tz1RhDf3hL8P5vTF8Cm9u8UHnc7E1gzYrVZa\",\"balance\":3282814,\"currentBalance\":17487136,\"emptied\":false},{\"address\":\"tz1TNPydD23QaQV7yjrvzGTXECfBE59vAbKT\",\"balance\":860648,\"currentBalance\":860648,\"emptied\":false}],\"ownBlocks\":0,\"extraBlocks\":0,\"missedOwnBlocks\":0,\"missedExtraBlocks\":0,\"uncoveredOwnBlocks\":0,\"uncoveredExtraBlocks\":0,\"uncoveredEndorsements\":0,\"ownBlockRewards\":0,\"extraBlockRewards\":0,\"missedOwnBlockRewards\":0,\"missedExtraBlockRewards\":0,\"uncoveredOwnBlockRewards\":0,\"uncoveredExtraBlockRewards\":0,\"uncoveredEndorsementRewards\":0,\"ownBlockFees\":0,\"extraBlockFees\":0,\"missedOwnBlockFees\":0,\"missedExtraBlockFees\":0,\"uncoveredOwnBlockFees\":0,\"uncoveredExtraBlockFees\":0,\"doubleBakingLostDeposits\":0,\"doubleBakingLostRewards\":0,\"doubleBakingLostFees\":0,\"doubleEndorsingLostDeposits\":0,\"doubleEndorsingLostRewards\":0,\"doubleEndorsingLostFees\":0,\"revelationLostRewards\":0,\"revelationLostFees\":0,\"futureBlockDeposits\":0,\"blockDeposits\":0,\"futureEndorsementDeposits\":0,\"endorsementDeposits\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2303052"
            },
            {
              "name": "tzkt-known-level",
              "value": "2303052"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-22T17:08:01Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
