{
  "log": {
    "_recordingName": "resolveProtectedBakerRewards/allocates 10% of rewards to baker if overdelegated and `overdelegation_guard` is true  (case: actual stake)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "c0d56ec64a7621adefd39116e4ffd30a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1axcnVN9tZnCe4sQQhC6f3tfSEXdjPaXPY/476"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13007,
            "text": "{\"cycle\":476,\"stakingBalance\":307985239928,\"activeStake\":286028310360,\"selectedStake\":682728077075877,\"delegatedBalance\":279420488906,\"numDelegators\":462,\"expectedBlocks\":3,\"expectedEndorsements\":24024,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":4,\"blockRewards\":76375282,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":23486,\"endorsementRewards\":68636568,\"missedEndorsements\":295,\"missedEndorsementRewards\":0,\"blockFees\":701174,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"tz1dMM9qK3PT3D3Ypo1qiff775pQJwjkncJD\",\"balance\":49943078682,\"currentBalance\":50044573125,\"emptied\":false},{\"address\":\"KT19UA2fYomEAptTiwBV6dvqm4mNZL7JPquK\",\"balance\":48634600187,\"currentBalance\":77503405438,\"emptied\":false},{\"address\":\"KT1JyLcjBiVSmG7JtSGKkyHo2ikRtC4H6oC5\",\"balance\":25071884457,\"currentBalance\":25122565089,\"emptied\":false},{\"address\":\"tz1i3ELaBmcYeFifT8hdqt8UBsLAoWN4rVgv\",\"balance\":12156745327,\"currentBalance\":12181455397,\"emptied\":false},{\"address\":\"tz1gcf6fBphiUDDKPhSGZG7L425cwEmjmJ5c\",\"balance\":10177809998,\"currentBalance\":10200898479,[...]
