{
  "log": {
    "_recordingName": "test/testing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b0b205a178573b4fe3343b80fe4622ef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/head"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 672,
            "text": "{\"chain\":\"mainnet\",\"chainId\":\"NetXdQprcVkpaWU\",\"cycle\":468,\"level\":2249184,\"hash\":\"BMB5h7nFbwShhXHLvkGtKMwwhPTfK3NWbv3Uu3wPzDHN8XxLkmH\",\"protocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"nextProtocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"timestamp\":\"2022-04-03T09:46:59Z\",\"votingEpoch\":36,\"votingPeriod\":69,\"knownLevel\":2249184,\"lastSync\":\"2022-04-03T09:47:01Z\",\"synced\":true,\"quoteLevel\":2249184,\"quoteBtc\":8.618200869160134E-05,\"quoteEur\":3.6173979896776056,\"quoteUsd\":3.9954163133307716,\"quoteCny\":25.42323354335507,\"quoteJpy\":489.466466297213,\"quoteKrw\":4873.4889565114745,\"quoteEth\":0.001143481228960757,\"quoteGbp\":3.0465648701594112}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2249184"
            },
            {
              "name": "tzkt-known-level",
              "value": "2249184"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-03T09:47:01Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
