{
  "log": {
    "_recordingName": "test/returns last concluded cycle if the database is empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b0b205a178573b4fe3343b80fe4622ef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/head"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 672,
            "text": "{\"chain\":\"mainnet\",\"chainId\":\"NetXdQprcVkpaWU\",\"cycle\":469,\"level\":2255886,\"hash\":\"BLciZ66FMgKc3Aw3PBpMZjAz68EjM5Y9TpB7u91tiUAnpQqMLeq\",\"protocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"nextProtocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"timestamp\":\"2022-04-05T19:49:14Z\",\"votingEpoch\":36,\"votingPeriod\":69,\"knownLevel\":2255886,\"lastSync\":\"2022-04-05T19:49:17Z\",\"synced\":true,\"quoteLevel\":2255886,\"quoteBtc\":8.162360008464807E-05,\"quoteEur\":3.4402714409913093,\"quoteUsd\":3.750636621413254,\"quoteCny\":23.868301331349635,\"quoteJpy\":463.6068161813391,\"quoteKrw\":4572.888095325096,\"quoteEth\":0.0010849042378011785,\"quoteGbp\":2.869409544665722}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2255886"
            },
            {
              "name": "tzkt-known-level",
              "value": "2255886"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-05T19:49:17Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
