{
  "log": {
    "_recordingName": "test/returns cycle after the last processed one if database is not empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b0b205a178573b4fe3343b80fe4622ef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/head"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 673,
            "text": "{\"chain\":\"mainnet\",\"chainId\":\"NetXdQprcVkpaWU\",\"cycle\":470,\"level\":2262917,\"hash\":\"BLbFmmJqa5oY7Ns5NqRMFPhGFeeVmtpjjXU5j5cCfG3ULJioiUj\",\"protocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"nextProtocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"timestamp\":\"2022-04-08T08:15:14Z\",\"votingEpoch\":36,\"votingPeriod\":69,\"knownLevel\":2262917,\"lastSync\":\"2022-04-08T08:15:19Z\",\"synced\":true,\"quoteLevel\":2262917,\"quoteBtc\":7.759327620361017E-05,\"quoteEur\":3.127155743091327,\"quoteUsd\":3.4007346429094674,\"quoteCny\":21.636494018582873,\"quoteJpy\":422.0325861691684,\"quoteKrw\":4168.659932991464,\"quoteEth\":0.0010325419050873932,\"quoteGbp\":2.6063876442840295}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2262917"
            },
            {
              "name": "tzkt-known-level",
              "value": "2262917"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-08T08:15:19Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
