{
  "log": {
    "_recordingName": "test/returns cycle after the last processed one if database is not empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b0b205a178573b4fe3343b80fe4622ef",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/head"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 673,
            "text": "{\"chain\":\"mainnet\",\"chainId\":\"NetXdQprcVkpaWU\",\"cycle\":470,\"level\":2266462,\"hash\":\"BLaEyat5bRy6mFdgPNkX1ZDK4E4JYj8tzw8J1kyskeRF1YwPBfV\",\"protocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"nextProtocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"timestamp\":\"2022-04-09T14:45:59Z\",\"votingEpoch\":36,\"votingPeriod\":69,\"knownLevel\":2266462,\"lastSync\":\"2022-04-09T14:46:01Z\",\"synced\":true,\"quoteLevel\":2266462,\"quoteBtc\":7.361773846978867E-05,\"quoteEur\":2.87272445514968,\"quoteUsd\":3.1245201613961093,\"quoteCny\":19.88788327930239,\"quoteJpy\":388.45593882021586,\"quoteKrw\":3840.5195789808354,\"quoteEth\":0.0009701231699002022,\"quoteGbp\":2.3969506456537375}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2266462"
            },
            {
              "name": "tzkt-known-level",
              "value": "2266462"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-09T14:46:01Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
