{
  "log": {
    "_recordingName": "resolveBakerRewards/adds baker stake to `cycleShares` for regular processing if overdelegated and `overdelegation_guard` is false",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "58d75cb85fabcbfb6e7b75772b824dc6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1cZfFQpcYhwDp7y1njZXDsZqCrn2NqmVof/475"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12765,
            "text": "{\"cycle\":475,\"stakingBalance\":169536166508,\"activeStake\":169536166508,\"selectedStake\":681956775434162,\"delegatedBalance\":151600683649,\"numDelegators\":342,\"expectedBlocks\":2,\"expectedEndorsements\":14255,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":1,\"blockRewards\":19866372,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":14102,\"endorsementRewards\":40726535,\"missedEndorsements\":109,\"missedEndorsementRewards\":0,\"blockFees\":25896,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"tz1ZAZS8qQ912exRDwJAco11FfmGB9ZTiwbc\",\"balance\":61828262039,\"currentBalance\":62038307043,\"emptied\":false},{\"address\":\"tz1L17y7rZaJgZzem1UD4jQMvLNAQAu7XMLB\",\"balance\":27862593242,\"currentBalance\":27954674385,\"emptied\":false},{\"address\":\"tz1St5qcSFsTR6DZy6BZmMjYs8hxvC3y9PUn\",\"balance\":14900194558,\"currentBalance\":14950076028,\"emptied\":false},{\"address\":\"tz1awqo6yQ71RoX6dKfTxbSY8FnU23CtMyH3\",\"balance\":8224394439,\"currentBalance\":8252316554,\"emptied\":false},{\"address\":\"KT1Wh4a4D4edhe8Nf2ZC2qczzLdBnUitn9Hi\",\"balance\":5295407792,\"currentBalance\":5312908216,\"em[...]
