{
  "log": {
    "_recordingName": "resolveExcludedPaymentsByMinimumDelegatorBalance/avoids double-processing by `resolveExcludedPaymentsByMinimumAmount` (accounting_mode: true)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "7eaeb0e9eb16f580556381dae7b1d699",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/rewards/split/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur/494"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2894,
            "text": "{\"cycle\":494,\"stakingBalance\":93903366511,\"activeStake\":93903366511,\"selectedStake\":686820694497212,\"delegatedBalance\":83402406008,\"numDelegators\":12,\"expectedBlocks\":1,\"expectedEndorsements\":7840,\"futureBlocks\":0,\"futureBlockRewards\":0,\"blocks\":1,\"blockRewards\":19746364,\"missedBlocks\":0,\"missedBlockRewards\":0,\"futureEndorsements\":0,\"futureEndorsementRewards\":0,\"endorsements\":7949,\"endorsementRewards\":22398880,\"missedEndorsements\":8,\"missedEndorsementRewards\":0,\"blockFees\":200555,\"missedBlockFees\":0,\"doubleBakingRewards\":0,\"doubleBakingLosses\":0,\"doubleEndorsingRewards\":0,\"doubleEndorsingLosses\":0,\"doublePreendorsingRewards\":0,\"doublePreendorsingLosses\":0,\"revelationRewards\":0,\"revelationLosses\":0,\"delegators\":[{\"address\":\"KT1LbavaVQWGcntqiK4NGG21WS7Kv2QWrcSk\",\"balance\":24296269381,\"currentBalance\":24296269381,\"emptied\":false},{\"address\":\"KT1HFm1hxo3LPKe5js7dF5DdGAAWDUnNKqSr\",\"balance\":23087407388,\"currentBalance\":22553555976,\"emptied\":false},{\"address\":\"tz1TRSPwnJD6qv5LeE76uSQ1YppVEvzomFvS\",\"balance\":17438577462,\"currentBalance\":17584071794,\"emptied\":false},{\"address\":\"KT1T9jvz4nPq6JkssNwXFPiReVgoX88bNwpH\",\"balance\":5881113981,\"currentBalance\":1027254,\"emptied\":false},{\"address\":\"tz1M1dgUJooWnzYhb8MnWin6MkQrPA55TTCr\",\"balance\":5863168149,\"currentBalance\":5912382804,\"emptied\":false},{\"address\":\"tz1aDww9WkbhtBxKFmbqxvRUpoU62w8o1cSo\",\"balance\":3356029650,\"currentBalance\":9974601439,\"emptied\":false},{\"address\":\"tz1RREZq3cRtuoVwcBHPUcZeGbaCCXSU69QX\",\"balance\":2147132146,\"currentBalance\":2165152155,\"emptied\":false},{\"address\":\"tz1RhDf3hL8P5vTF8Cm9u8UHnc7E1gzYrVZa\",\"balance\":895903255,\"currentBalance\":53734122,\"emptied\":false},{\"address\":\"tz1icTCXcgy2u48h6M3s9eDPNwaEtWuDephX\",\"balance\":268644608,\"currentBalance\":9315392,\"emptied\":false},{\"address\":\"tz1Z1xRcvcqPPqja34fWNd1StABUV38LnbpW\",\"balance\":166831041,\"currentBalance\":349856078,\"emptied\":false},{\"address\":\"tz1TNPydD23QaQV7yjrvzGTXECfBE59vAbKT\",\"balance\":860103,\"currentBalance\":860103,\"emptied\":false},{\"address\":\"tz1UhsGR8j2gs1wTUzFWQedCQJZHakBoDbz4\",\"balance\":468844,\"currentBalance\":468844,\"emptied\":false}],\"ownBlocks\":1,\"extraBlocks\":0,\"missedOwnBlocks\":0,\"missedExtraBlocks\":0,\"uncoveredOwnBlocks\":0,\"uncoveredExtraBlocks\":0,\"uncoveredEndorsements\":0,\"ownBlockRewards\":19746364,\"extraBlockRewards\":0,\"missedOwnBlockRewards\":0,\"missedExtraBlockRewards\":0,\"uncoveredOwnBlockRewards\":0,\"uncoveredExtraBlockRewards\":0,\"uncoveredEndorsementRewards\":0,\"ownBlockFees\":200555,\"extraBlockFees\":0,\"missedOwnBlockFees\":0,\"missedExtraBlockFees\":0,\"uncoveredOwnBlockFees\":0,\"uncoveredExtraBlockFees\":0,\"doubleBakingLostDeposits\":0,\"doubleBakingLostRewards\":0,\"doubleBakingLostFees\":0,\"doubleEndorsingLostDeposits\":0,\"doubleEndorsingLostRewards\":0,\"doubleEndorsingLostFees\":0,\"revelationLostRewards\":0,\"revelationLostFees\":0,\"futureBlockDeposits\":0,\"blockDeposits\":0,\"futureEndorsementDeposits\":0,\"endorsementDeposits\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-version",
              "value": "1.9.4.0"
            },
            {
              "name": "tzkt-level",
              "value": "2590528"
            },
            {
              "name": "tzkt-known-level",
              "value": "2590528"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-08-03T18:37:06Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104,
      },
      {
        "_id": "f391cda33f68c2bb40a630e76a89815c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/accounts/tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1467,
            "text": "{\"id\":1785250,\"type\":\"delegate\",\"address\":\"tz1Uoy4PdQDDiHRRec77pJEQJ21tSyksarur\",\"active\":true,\"alias\":\"Sentry \\u0026 Legate\",\"publicKey\":\"edpkuugBoESXfpaESgvbpY5LjwdNLm713iSUNjUmDbFAtcuj8Fcq2A\",\"revealed\":true,\"balance\":10609908822,\"rollupBonds\":0,\"frozenDeposit\":9940642000,\"counter\":25666356,\"activationLevel\":1679446,\"activationTime\":\"2021-09-09T17:01:06Z\",\"stakingBalance\":101442031768,\"delegatedBalance\":90832122946,\"numContracts\":0,\"rollupsCount\":0,\"activeTokensCount\":2,\"tokenBalancesCount\":2,\"tokenTransfersCount\":2,\"numDelegators\":13,\"numBlocks\":64,\"numEndorsements\":189632,\"numPreendorsements\":311,\"numBallots\":8,\"numProposals\":6,\"numActivations\":0,\"numDoubleBaking\":0,\"numDoubleEndorsing\":0,\"numDoublePreendorsing\":0,\"numNonceRevelations\":2,\"numRevelationPenalties\":0,\"numEndorsingRewards\":42,\"numDelegations\":22,\"numOriginations\":0,\"numTransactions\":29,\"numReveals\":1,\"numRegisterConstants\":0,\"numSetDepositsLimits\":0,\"numMigrations\":0,\"txRollupOriginationCount\":0,\"txRollupSubmitBatchCount\":0,\"txRollupCommitCount\":0,\"txRollupReturnBondCount\":0,\"txRollupFinalizeCommitmentCount\":0,\"txRollupRemoveCommitmentCount\":0,\"txRollupRejectionCount\":0,\"txRollupDispatchTicketsCount\":0,\"transferTicketCount\":0,\"firstActivity\":1679316,\"firstActivityTime\":\"2021-09-09T15:45:24Z\",\"lastActivity\":2590527,\"lastActivityTime\":\"2022-08-03T18:35:44Z\",\"software\":{\"version\":\"v13.0\",\"date\":\"2022-05-05T12:55:26Z\"},\"frozenDeposits\":9940642000,\"frozenRewards\":0,\"frozenFees\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tzkt-version",
              "value": "1.9.4.0"
            },
            {
              "name": "tzkt-level",
              "value": "2590528"
            },
            {
              "name": "tzkt-known-level",
              "value": "2590528"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-08-03T18:37:06Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 94,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
