{
  "log": {
    "_recordingName": "google.com/should be able to search",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b0b205a178573b4fe3343b80fe4622ef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tzkt.io/v1/head"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 672,
            "text": "{\"chain\":\"mainnet\",\"chainId\":\"NetXdQprcVkpaWU\",\"cycle\":468,\"level\":2249170,\"hash\":\"BLhG7DGh91hCXU7737TJBjuHgGaToPtiqhybPN455GgwsKd8Y8Q\",\"protocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"nextProtocol\":\"Psithaca2MLRFYargivpo7YvUr7wUDqyxrdhC5CQq78mRvimz6A\",\"timestamp\":\"2022-04-03T09:39:59Z\",\"votingEpoch\":36,\"votingPeriod\":69,\"knownLevel\":2249170,\"lastSync\":\"2022-04-03T09:40:00Z\",\"synced\":true,\"quoteLevel\":2249170,\"quoteBtc\":8.619131574245684E-05,\"quoteEur\":3.616468820370293,\"quoteUsd\":3.9943900457708046,\"quoteCny\":25.416703300244176,\"quoteJpy\":489.34074133724397,\"quoteKrw\":4872.237146129855,\"quoteEth\":0.001144990374116419,\"quoteGbp\":3.045782325750924}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "tzkt-level",
              "value": "2249170"
            },
            {
              "name": "tzkt-known-level",
              "value": "2249170"
            },
            {
              "name": "tzkt-synced-at",
              "value": "2022-04-03T09:40:00Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
